<div class="top">
  <header>News from {{ countryName }}</header>
  <button [routerLink]="['/countries']">Back</button>
</div>
<ng-container *ngIf="articles?.length">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let article of articles">
      <img
        src="{{ article.imageUrl }}"
        alt=""
        class="img-thumbnail rounded float-left"
      />
      {{ article.author }}

      {{ article.title }}
      {{ article.content }}
      {{ article.publishDateTime }}
      <a href="{{ article.url }}"> {{ article.url }}</a>
    </li>
  </ul>
</ng-container>
