<div class="top mt-3 mb-3">
  <header>
    <h2>Countries</h2>
  </header>
  <button class="btn btn-secondary" type="button" [routerLink]="['/settings']">
    Settings
  </button>
</div>
<ng-container *ngIf="countries?.length">
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let country of countries"
      (click)="navigateToNews(country.countryId)"
    >
      {{ country.countryName }}
      <img
        src="{{ country.flagUrl }}"
        alt="{{ country.countryName }}"
        class="img-thumbnail rounded float-right"
      />
    </li>
  </ul>
</ng-container>
